:root {
    --app-background-color: #e5e5e5;
    --primary-color: #b200e3;
    --secondary-color: #ff2b79;
    --primary-text-color: rgba(0, 0, 0, 0.4);
    --secondary-text-color: ;
    --primary-shadow: 0px 5px 29px rgba(0, 0, 0, 0.25);
    --primary-border-radius: 10px;
    --navbar-height: 50px;
}
